<!-- ng generateしたときに自動で作成される
<p>members works!</p> -->

<h2>社員一覧</h2>
<ul class="members">
  <!-- *ngFor:forループ -->
  <!-- (click)→clickイベント -->
  <!-- [class.selected]="member === selectedMember"クラスバインディング(条件式がtrueの場合のみ付与されるクラス) -->
  <li
    *ngFor="let member of members"
    [class.selected]="member === selectedMember"
    (click)="onSelect(member)"
  >
    <span class="badge">{{ member.id}}</span> {{member.name}}
  </li>
</ul>

<!-- [member]→props -->
<app-member-detail [member]="selectedMember"></app-member-detail>
